### 017

In [ ]:
import math
math.gcd(60,100,80)

20

In [ ]:
60/2.,100/20,80/20

(30.0, 5.0, 4.0)

### 018

In [ ]:
import math
math.lcm(15,25)

75

### 019

In [ ]:
0.1*3==0.3

False

In [ ]:
0.1*3

0.30000000000000004

In [ ]:
import math

print(math.isclose(0.1*3,0.3)) #0.1*3==0.3
print(math.isclose(1.2-0.1,1.1))
print(math.isclose(0.1*0.1,0.01))

True
True
True

In [ ]:
from decimal import Decimal
print(Decimal('0.1')*3)
print(Decimal('1.2')-Decimal('0.1')) # return 자료형 : decimal
print(Decimal('0.1')*Decimal('0.1'))
print(float(Decimal('1.2')-Decimal('0.1'))==1.1) #다시 float형으로 바꿔서 비교함.

0.3
1.1
0.01
True

### 020 (fractions.Fracion)

In [ ]:
from fractions import Fraction
a=Fraction(1,5)
a

Fraction(1, 5)

In [ ]:
from fractions import Fraction
a=Fraction(1/5) # 1을 5로 나눈 float형태 값이 Fraction인자로 들어감. 우리가 생각하는 1/5(분수)가 아님.
a

Fraction(3602879701896397, 18014398509481984)

In [ ]:
a=Fraction('1/5')
a

Fraction(1, 5)

In [ ]:
a.numerator

1

In [ ]:
a.denominator

5

In [ ]:
a.real

Fraction(1, 5)

In [ ]:
result=Fraction(1,5)+Fraction(2,5) #분수의 덧셈,뺄셈, 나눗셈, 곱셈 모두 지원
result

Fraction(3, 5)

In [ ]:
float(result)

0.6

### 021 random

In [ ]:
# random_sample.py
import random

result = []
while len(result) < 6:
    num = random.randint(1, 45)  # 1~45 사이의 숫자중 임의의 숫자 생성
    if num not in result:
      result.append(num)

print(result)  # 무작위 생성된 6개의 숫자 출력

[19, 9, 22, 29, 32, 35]

In [ ]:
result =[]
for num in range(45):
  result.append(num+1)

print(result)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45]

In [ ]:
random.shuffle(result)
print(result)

[1, 28, 31, 5, 39, 13, 11, 30, 37, 12, 9, 44, 29, 41, 26, 40, 43, 17, 20, 38, 32, 15, 42, 7, 33, 14, 22, 21, 23, 10, 4, 3, 25, 35, 18, 16, 34, 19, 36, 2, 24, 8, 27, 6, 45]

In [ ]:
result[:6]

[1, 28, 31, 5, 39, 13]

In [ ]:
import random
lotto=[]
while len(lotto)<6:
  num=random.choice(result)
  if num not in lotto:
    lotto.append(num)

print(lotto)

[38, 13, 29, 9, 44, 18]

In [ ]:
a=[1,2,3,4,5]
random.shuffle(a)
a

[3, 5, 4, 2, 1]

In [ ]:
a=[1,2,3,4,5]
random.choice(a)

2

### 022 statistics

In [ ]:
import statistics
marks=[78,93,99,95,51,71,52,43,81,78]
statistics.mean(marks)

74.1

In [ ]:
statistics.median(marks)

78.0

###023 (itertools.cycle)

In [ ]:
for i in [1,2,3]:
  print(i)

1
2
3

In [ ]:
lst=iter([1,2,3])
lst

In [ ]:
lst=iter([1,2,3])

In [ ]:
next(lst)

1

In [ ]:
next(lst)

2

In [ ]:
next(lst)

3

In [ ]:
import itertools
emp_pool=itertools.cycle(['김은경','이명자','이성진'])
print(next(emp_pool))
print(next(emp_pool))
print(next(emp_pool))
print(next(emp_pool))

김은경
이명자
이성진
김은경

###024 (itertools.accumulate())

In [ ]:
#itertools_accumulate_sample.py
import itertools

monthly_income = [1161, 1814, 1270, 2256, 1413, 1842, 2221, 2207, 2450, 2823, 2540, 2134]
result = list(itertools.accumulate(monthly_income))

print(result)

[1161, 2975, 4245, 6501, 7914, 9756, 11977, 14184, 16634, 19457, 21997, 24131]

In [ ]:
# 일반적으로 생각나는 방법
monthly_income = [1161, 1814, 1270, 2256, 1413, 1842, 2221, 2207, 2450, 2823, 2540, 2134]
accum_income=[]

for i,income in enumerate(monthly_income):
  if i<1:
    accum_income.append(income)
  else:
    accum_income.append(accum_income[i-1]+income)

print(accum_income)

[1161, 2975, 4245, 6501, 7914, 9756, 11977, 14184, 16634, 19457, 21997, 24131]

In [ ]:
import itertools
montly_income=[1161,1814,1270,2256,1413,1842,2221,2207,2450,2823,2540,2134]
result=list(itertools.accumulate(monthly_income,max))

print(result)

[1161, 1814, 1814, 2256, 2256, 2256, 2256, 2256, 2450, 2823, 2823, 2823]